body {
	background-color: Lightgray;
}
div {
	border: 1px solid Chocolate;
}
li a{
	display: inline;
}
.top-naviagtion {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}